

@{
    ViewBag.Title = "Info";
}

<h2>@ViewBag.Title</h2>

    @Html.Partial("_LoginPartial")


<p>
    @Html.ActionLink("Übersicht", "Overview")
</p>

<p>
    @Html.ActionLink("Anwender", "UserOverview", "Account",null,null)
</p>

<p>
    @Html.ActionLink("Logs", "Logs")
</p>

<p>
    @Html.ActionLink("Autoren", "ByAuthor")
</p>
<p>
    @Html.ActionLink("Zuletzt geändert", "LastChanged")
</p>
<p>
    @Html.ActionLink("Zuletzt erstellt", "LastCreated")
</p>
<p>
    @Html.ActionLink("Zurück zur Startseite", "Index", "Recipe")
</p>
