

@{
    ViewBag.Title = "Info";
}


<p>
    @Html.Partial("_LoginPartial")
</p>

<p>
    @Html.ActionLink("Autoren", "ByAuthor")
</p>
<p>
    @Html.ActionLink("Letzte Änderungen", "LastChanged")
</p>
<p>
    @Html.ActionLink("Neueste Rezepte", "LastCreated")
</p>
<p>
    @Html.ActionLink("Anwender", "UserOverview", "Account", null, null)
</p>
<p>
    @Html.ActionLink("Übersicht", "Overview")
</p>
<p>
    @Html.ActionLink("Logs", "Logs")
</p>

