
@{
    ViewBag.Title = "Info";
}

<h2>@ViewBag.Title</h2>

<table>

    <tr>
        <td>Rezepte</td>
        <td>@ViewBag.Recipes</td>
    </tr>
        <tr>
        <td>Schlagwörter</td>
        <td>@ViewBag.Tags</td>
    </tr>
    <tr>
        <td>Bilder</td>
        <td>@ViewBag.Images</td>
    </tr>
    <tr>
        <td>Anwender</td>
        <td>@ViewBag.Users</td>
    </tr>
</table>


