
@{
    ViewBag.Title = "Übersicht";
}

@Html.Partial("_Title")

<table>
    <tr>
        <td>Rezepte</td>
        <td>@ViewBag.Recipes</td>
    </tr>
    <tr>
        <td>Tags</td>
        <td>@ViewBag.Tags</td>
    </tr>
    <tr>
        <td>Bilder</td>
        <td>@ViewBag.Images</td>
    </tr>
    <tr>
        <td>Anwender</td>
        <td>@ViewBag.Users</td>
    </tr>
</table>

@Html.Partial("_Home")




