@model Mvc4WebRole.ViewModels.UserWithRoles

@{
    ViewBag.Title = "Rollen zuweisen";
}

@Html.Partial("_Title")

<h3>AssignRoles for @Model.UserName</h3>

@using ( Html.BeginForm() )
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
     @Html.HiddenFor(model => model.UserID)

    for ( int i = 0; i < Model.RoleInfos.Count(); i++ )
    {
        @Html.HiddenFor(model => model.RoleInfos[i].RoleName)
        <p>
            @Html.CheckBoxFor(m => m.RoleInfos[i].IsChecked)
            @Html.LabelFor(m => m.RoleInfos[i].IsChecked, Model.RoleInfos[i].RoleName)
        </p>
    }
    
    
    <p>
        <button type="submit">Änderungen übernehmen</button>
    </p>

}

@Html.Partial("_Home")
