@model Mvc4WebRole.Models.LoginModel

@{
    ViewBag.Title = "Einloggen";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Bitte loggen Sie sich ein (verwendet Cookies)</h2>
</hgroup>

<h3>Karema verwendet Cookies, um für Sie die Benutzerfreundlichkeit der Webseite zu verbessern</h3>
<p>Wenn Sie diese Webseite weiter nutzen, erklären Sie sich damit einverstanden</p>

@*<section id="loginForm">*@

<h2>@ViewBag.Message</h2>

@using ( Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }) )
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName)
        @Html.ValidationMessageFor(m => m.UserName)
    </p>
    <p>
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
    </p>
    <p>
       
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe)
       
    </p>
 
    <button type="submit">Einloggen</button>

    <p>
        @Html.ActionLink("Registrieren", "Register") wenn Sie keinen Account haben.
    </p>
}
