@model Mvc4WebRole.Models.RecipeModel

@{
    ViewBag.Title = "Neues Rezept";
}

@Html.Partial("_Title")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    if (Model == null)
    {
        @Html.Action("_EditNew")
    }
    else
    {
        @Html.Action("_Edit", Model)
    }

    <button type="submit">Erstellen</button>

}
<div>
    <p>
        @Html.ActionLink("Abbrechen", "Index")
    </p>
</div>

