@model Mvc4WebRole.Models.RecipeModel

@{
    ViewBag.Title = "Löschen";
}

<h3>Wollen Sie das Rezept "@Model.Name" wirklich löschen?</h3>


<h3>@Html.DisplayNameFor(model => model.Description)</h3>

@Html.DisplayFor(model => model.Description)


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <button data-icon="delete" type="submit">Löschen</button>
        @Html.ActionLink("Abbrechen", "Details", new { Model.ID })
    </p>
}

