@model IEnumerable<Mvc4WebRole.ViewModels.RecipeInfo>

@{
    ViewBag.Title = "Rezepte";
}

@Html.Partial("_Title")

<p>
    @Html.ActionLink("Neues Rezept", "Create") |
    @Html.ActionLink("Letzte Änderungen", "LastChanged","Info")
</p>

 <form class="ui-filterable">
     <input type="search" id="filter-input" title="Suchen">
 </form>
  <ul data-role="listview" data-filter="true" data-input="#filter-input">
     @foreach (var item in Model)
     {
         if (item.Star)
         {
             <li data-icon="star" >@Html.ActionLink(item.Name, "Details", new {id = item.Id}) </li>
         }
         else
         {
            <li  >@Html.ActionLink(item.Name, "Details", new { id = item.Id }) </li>
         }
     }
   </ul>





