@model Mvc4WebRole.Models.TagModel

@{
    ViewBag.Title = "Tag bearbeiten";
}

@Html.Partial("_Title")


@using ( Html.BeginForm() )
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TagModel</legend>

        @Html.HiddenFor(model => model.ID)

        <div>
            @Html.LabelFor(model => model.Caption)
        </div>
        <div>
            @Html.EditorFor(model => model.Caption)
            @Html.ValidationMessageFor(model => model.Caption)
        </div>

        <p>
            <button type="submit">Änderungen übernehmen</button>
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Abbrechen", "Index")
</div>

@Html.Partial("_Home")