<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/jquerymobile/css")
    @Scripts.Render("~/bundles/jquery")
    
    <script type="text/javascript">
        $(document).bind("mobileinit", function () { $.mobile.ajaxEnabled = true; });
    </script>
    
    @Scripts.Render("~/bundles/jquerymobile")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jqueryval")
    
    </head>

    <body>
        <header>
            <nav>
              
                <ul id="menu2">
                    <li class="site-title">@Html.ActionLink("Karema", "Index", "Recipe")</li>
                    <li>@Html.ActionLink("Rezepte", "Index", "Recipe")</li>
                    <li>@Html.ActionLink("Tags", "Overview", "Tags")</li>
                    <li>@Html.ActionLink("Info", "Index", "Info")</li>
                </ul>
            </nav>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>

        <footer data-role="footer">
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Karema mobile | @Html.ActionLink("Impressum", "Impressum", "Info") </p>
                </div>
            </div>
        </footer>
        

        <div class="content-wrapper">
            <p />
            @Html.Partial("_ViewSwitcher")
            <p />
        </div>

        @RenderSection("scripts", required: false)
    </body>
    </html>
